name: Build executables

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Toolchain
        run: rustup default stable-x86_64-pc-windows-msvc

      - name: Build (Release)
        run: cargo build --release

      - name: Clippy
        run: cargo clippy --all

      - name: Format
        run: cargo fmt --all -- --check

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: frostflake-rs.exe
          path: ./target/release/frostflake-rs.exe

      - name: Update Latest Tag
        if: github.ref == 'refs/heads/main'
        uses: EndBug/latest-tag@latest

      - uses: "softprops/action-gh-release@v2"
        if: github.ref == 'refs/heads/main'
        with:
          tag_name: "latest"
          prerelease: true
          name: "Development Build"
          files: ./target/release/frostflake-rs.exe
